In [1]:
import pandas as pd

In [3]:
orders=pd.read_table('http://bit.ly/chiporders')

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [4]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [6]:
orders.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [8]:
orders['quantity']=orders.quantity.astype('float')

In [10]:
orders.dtypes

order_id                int64
quantity              float64
item_name              object
choice_description     object
item_price             object
dtype: object

In [13]:
orders.item_price.str.replace('$','').astype('float').mean()

7.464335785374397

In [17]:
orders.item_name.str.contains('Chicken').astype('int').head(7)

0    0
1    0
2    0
3    0
4    1
5    1
6    0
Name: item_name, dtype: int32