**filtering pandas rows in a DataFrame by column value**

In [1]:
import pandas as pd

In [2]:
movies=pd.read_csv('http://bit.ly/imdbratings')

In [3]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [34]:
movies['check']=movies['duration']>175

In [35]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list,check
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",False
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",False
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",True
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",False
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",False

In [29]:
movies['check'].head()

0    False
1     True
2     True
3    False
4    False
Name: check, dtype: bool

In [10]:
#another way

In [17]:
type(False)

bool

In [18]:
booleans=[]
for length in movies.duration:
    if length >=175:
        booleans.append(True)
    else:
        booleans.append(False)

In [19]:
booleans[0:5]

[False, True, True, False, False]

In [21]:
bool_check=pd.Series(booleans)

In [22]:
bool_check.head()

0    False
1     True
2     True
3    False
4    False
dtype: bool

In [36]:
movies[bool_check].head()

,star_rating,title,content_rating,genre,duration,actors_list,check
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",False
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",True
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...",True
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...",True
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...",True

In [37]:
#simpler way that replaces the for loop

long=pd.Series(movies.duration)>=175

In [38]:
movies[long].head()

,star_rating,title,content_rating,genre,duration,actors_list,check
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",False
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",True
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...",True
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...",True
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...",True

In [40]:
movies[(movies.duration)>=175].head()

,star_rating,title,content_rating,genre,duration,actors_list,check
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",False
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",True
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...",True
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...",True
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...",True

In [42]:
movies[(movies.duration)>=175].title.head()

1                                         The Godfather
2                                The Godfather: Part II
7         The Lord of the Rings: The Return of the King
8                                      Schindler's List
10    The Lord of the Rings: The Fellowship of the Ring
Name: title, dtype: object

In [44]:
movies[(movies.duration)>=175]['title'].head()

1                                         The Godfather
2                                The Godfather: Part II
7         The Lord of the Rings: The Return of the King
8                                      Schindler's List
10    The Lord of the Rings: The Fellowship of the Ring
Name: title, dtype: object

In [50]:
movies.loc[(movies.duration)>=175,'title'].head()

1                                         The Godfather
2                                The Godfather: Part II
7         The Lord of the Rings: The Return of the King
8                                      Schindler's List
10    The Lord of the Rings: The Fellowship of the Ring
Name: title, dtype: object