In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'Champions':['WI','WI','IND','AUS','PAK','SRL','AUS','AUS','AUS','IND','AUS','ENG'], 
                 'Year':[1975,1979,1983,1987,1991,1995,1999,2003,2007,2011,2015,2019]})

In [3]:
df

   Champions  Year
0         WI  1975
1         WI  1979
2        IND  1983
3        AUS  1987
4        PAK  1991
5        SRL  1995
6        AUS  1999
7        AUS  2003
8        AUS  2007
9        IND  2011
10       AUS  2015
11       ENG  2019

## When was each team's first and last winning a world cup

In [4]:
df.groupby('Champions').Year.last()

Champions
AUS    2015
ENG    2019
IND    2011
PAK    1991
SRL    1995
WI     1979
Name: Year, dtype: int64

In [5]:
df.groupby('Champions').Year.first()

Champions
AUS    1987
ENG    2019
IND    1983
PAK    1991
SRL    1995
WI     1975
Name: Year, dtype: int64